body{
    font-size: 20px;
    background: rgb(250, 227, 217);
    padding: 50px 20px 50px 20px;
}

.video_container{
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
}

#video_stream{
    width: 80%;
    padding: 20px;
}


.interface_container{
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
}

.interface_container .temperature{
    background: rgba(244, 240, 230, 0.5);
    height: 50px;
    width: 60%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.interface_container .keyboard{
    background: rgba(217, 217, 243, 50);
    border-radius: 20px;
    height: 100px;
    width: 60%;
    margin: 20px;
    text-align: center;
    padding: 10%;
}