<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Mechtronics Projects</title>
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <!-- < The video stream and complemented parts > -->
    <div class="video_container">
        <img id="video_stream" src="{{url_for('video_feed')}}" />
        <div class="button_bar">
            <img id="complemented" src="{{url_for('static', filename='images/sunUnpress.png')}}" />
        </div>
    </div>

    <!-- < The control interface parts > -->
    <div class="interface_container">
        <div><p class="subtitle">TEMPERATURE</p></div>
        <div class="temperature"><p id="temperature_text">--</p></div>
        <div><p class="subtitle">KEYBOARD CONTROL</p></div>
        <div class="keyboard">
            <div class="move"><img id="move" src="{{url_for('static', filename='images/default.png')}}" /></div>
            <div class="plus">
                <img id="plus" src="{{url_for('static', filename='images/release.png')}}" />
                <p id="plus_text">RELEASE</p>
            </div>
        </div>
        <div><p class="subtitle">COLLISION STATUS</p></div>
        <div class="car">
            <img id="car_image" src="{{url_for('static', filename='images/carDefault.png')}}" />
            <div class="car_text">
                <p id="car_text">--</p>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
